/HelloWorld/nbproject/private/
/HelloWorld/build/
/BusinessCard/nbproject/private/
/BusinessCard/build/
/Class-notes-01-26-16/nbproject/private/
/Class-notes-01-26-16/build/
/PayCalc/nbproject/private/
/PayCalc/build/
/Class-notes-01-28-16/nbproject/private/
/Class-notes-01-28-2016/nbproject/private/
/Class-notes-01-28-2016/build/
/Lab2b/nbproject/private/
/Lab2b/build/
/worldCityTemp/nbproject/private/
/worldCityTemp/build/
/DialogWindows/nbproject/private/
/DialogWindows/build/
/bmiCalculator/nbproject/private/
/bmiCalculator/build/
/Condiontional operator/nbproject/private/
/SoupSwitch/nbproject/private/
/SoupSwitch/build/
/GraduationStatus/nbproject/private/
/GraduationStatus/build/