/HelloWorld/nbproject/private/
/HelloWorld/build/
/BusinessCard/nbproject/private/
/BusinessCard/build/
/Class-notes-01-26-16/nbproject/private/
/Class-notes-01-26-16/build/
/PayCalc/nbproject/private/
/PayCalc/build/
/Class-notes-01-28-16/nbproject/private/
/Class-notes-01-28-2016/nbproject/private/
/Class-notes-01-28-2016/build/
/Lab2b/nbproject/private/
/Lab2b/build/
/worldCityTemp/nbproject/private/
/worldCityTemp/build/
/DialogWindows/nbproject/private/
/DialogWindows/build/
/bmiCalculator/nbproject/private/
/bmiCalculator/build/
/Condiontional operator/nbproject/private/
/SoupSwitch/nbproject/private/
/SoupSwitch/build/
/GraduationStatus/nbproject/private/
/GraduationStatus/build/
/AnagramGame/nbproject/private/
/increments/nbproject/private/
/increments/build/
/loops/nbproject/private/
/incrementsAndLoops/nbproject/private/
/incrementsAndLoops/build/
/loops/build/
/loops/dist/
/pretest/nbproject/private/
/pretest/build/
/Pretest2/nbproject/private/
/Pretest2/build/
/accumulator/nbproject/private/
/accumulator/build/
/airlock/nbproject/private/
/airlock/build/
/formattingOutput/nbproject/private/
/formattingOutput/build/
/testran/nbproject/private/
/testran/build/
/WorldTempCalculatorRepetition/nbproject/private/
/WorldTempCalculatorRepetition/build/
/Methods/nbproject/private/
/Methods/build/
/payMethods/payMethods/build/
/payMethods/payMethods/nbproject/private/
/PassValue/nbproject/private/
/PassValue/build/
/Geometry/nbproject/private/
/Geometry/build/
/ReturningAReference-Strings/nbproject/private/
/ReturningAReference-Strings/build/
/Arrays/nbproject/private/
/Arrays/build/
/NFLcities/nbproject/private/
/NFLcities/build/
/bubbleSort/nbproject/private/
/bubbleSort/build/
/WriteHello/nbproject/private/
/WriteHello/build/
/ReadData/nbproject/private/
/sortFile/nbproject/private/
/ReadData/build/
/sortFile/build/
/loanPayment/nbproject/private/
/loanPayment/build/
/TuturialsLab6/nbproject/private/
/TuturialsLab6/build/
/StringObjects/nbproject/private/
/StringObjects/build/
/Enrollments/nbproject/private/
/Enrollments/build/
/PasswordChecker/nbproject/private/
/PasswordChecker/build/
/ObjectsClasses/nbproject/private/
/ObjectsClasses/build/
/ThisBook/nbproject/private/
/ThisBook/build/
/Monopoly/nbproject/private/
/Monopoly/build/